html {
  font-family: "Karla",sans-serif;
  font-size: 112.5%;
}

body {
  background: #fff;
  color: #535358;
  line-height: 1.66667;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  color: #2f313d;
  font-weight: bold;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
}

.hero-wrap-bg {
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  -webkit-animation-duration: 0.45s;
  animation-duration: 0.45s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInOpacity;
  animation-name: fadeInOpacity;
  background-image: url(/assets/images/bg.jpg);
  background-position: center;
  background-size: cover;
  bottom: 0;
  left: 0;
  opacity: .15;
  position: absolute;
  right: 0;
  top: 0;
}

.hero {
  padding-bottom: 1.66667em;
  padding-top: 3.33333em;
  position: relative;
  text-align: center;
}

.hero-avatar {
  margin-bottom: 3.33333em;
}

.hero-avatar .avatar {
  border: 4px solid #28394bbe;
  border-radius: 100%;
  box-shadow: 0 0 1px 11px rgba(41, 41, 54, 0.15),0 0 1px 22px rgba(28, 27, 36, 0.1);
  display: inline-block;
  margin-bottom: 20px;
  height: 130px;
  width: 130px;
}

.hero-details > p {
  margin: 0;
}

.hero-details > h1 {
  margin-bottom: 5px;
}

img {
  border: 0;
  vertical-align: middle;
}

.content {
  text-align: center;
}